streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
python-pptx
langchain-groq
python-dotenv
unstructured
sentence-transformers
pysqlite3-binary


